.enlace {
    font-size: 15px; 
    font-weight: bolder; 
    text-decoration: none;
  	display: flex;
  	gap: 3rem; 
  	margin: 0 3rem;
}

.enlace a {
	text-decoration: none;
	color: black;
}
		
body {
	background-color: #cee8ea !important;
}

section {
	padding-top: 100px;	
}

.container {
	text-align: center;
	position: relative;
}

.buscador {
	align-items: center;
	margin-right: 5em;	
}

#input-buscador {
	border: none;
	outline: none;
	width: 100%;
	margin-left: .5rem;	
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.contenedor-sugerencias ul li {
	list-style: none;
	text-align: left;
	cursor: pointer;
}

.contenedor-sugerencias {
	width: auto !important;
    margin-right: 5rem;
}
    
.contenedor-edad-genero {
	display: flex;
	justify-content: space-around;
}

.contenedor-edad, .contenedor-genero {
	display: flex;
	flex-direction: column;
	
}

.contenedor-edad {
	/*border-right: 1px solid #adb5bd; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    gap: 20px;
    padding: 3rem 0;
    position: absolute;
    z-index: -1;
    top: 80px;
    width: -webkit-fill-available;
    padding-bottom: 120px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}


.card img {
    width: 100%;
    border-radius: 8px;
    height: 250px;
    object-fit: cover;
}

.card h2 {
    font-size: 18px;
    color: #444;
    text-align: center;
    margin-top: 10px;
}

.card label {
    font-weight: bold;
}

.card p {
    margin: 0 0 20px 0;
}

.card a {
    text-decoration: none;
    color: #007bff;
}

.card .contenedor-boton{
	display:flex;
	justify-content: center;
	top: 100%;
 	position: sticky;
}

.card:hover {
    transform: scale(1.05);
}

footer {
	position: fixed !important;
	left: 0;
	bottom: 0;
	right: 0;
}