.container {
    max-width: 800px;
    margin: 100px 0;
    text-align: center;
    
}

h1 {
	text-align: center;
    color: #333;
}
h2 {
	text-align: center;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 20px;
}

.card {
	width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}


.card img {
    width: 100%;
    border-radius: 8px;
    height: 250px;
    
}

.card h2 {
    font-size: 18px;
    color: #444;
    margin-top: 10px;
}

.card p {
    margin: 10px 0 20px 0;
   
}

.card a {
    text-decoration: none;
    color: #007bff;
}

.card .contenedor-logos{
	display:flex;
	justify-content: center;
	top: 100%;
 	position: sticky;
}

.card .contenedor-logos img{
	height: 40px;
	width: 40px;
}

.card:hover {
    transform: scale(1.05);
}