.contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedor h1 {
	margin-top: 80px;
}

.parrafos p {
	margin-top: 20px;
	font-size: larger;
}

.contenedor-botones {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.fondo {
	margin-top: 4rem;
}