	
	.enlace {
	    font-size: 15px; 
	    font-weight: bolder; 
	    text-decoration: none;
	  	display: flex;
	  	gap: 3rem; 
	  	margin: 0 3rem;
	}
	
	.enlace a {
		text-decoration: none;
		color: black;
	}

	h1 {
		text-align: center;
	    color: #333;
	}
	
	h2 {
		text-align: center;
	    color: #333;
	    
	}
	
	h5{
		text-align: center;
	    padding: 160px 0;
	}
	
	.grid {
	    gap: 90px;
	    display: flex;
	   	justify-content: center;    
	   	padding: 35.3px;
	   	margin-top: 50px;
	}
	

	.card {
		width: 300px;
	    background: white;
	    border-radius: 8px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    padding: 15px;
	    transition: transform 0.2s;
	    justify-content: center;
	    align-items: center;
	}
	
	
	.card img {
	    width: 100%;
	    border-radius: 8px;
	    height: 250px;
	    object-fit: cover;
	    
	}
	
	.card h2 {
	    font-size: 18px;
	    color: #444;
	    margin-top: 10px;
	}
	
	.card p {
	    margin: 10px 0 20px 0;
	   
	}
	
	.card a {
	    text-decoration: none;
	    color: #007bff;
	}

	
	.card:hover {
	    transform: scale(1.05);
	}