	.enlace {
	    font-size: 15px; 
	    font-weight: bolder; 
	    text-decoration: none;
	  	display: flex;
	  	gap: 3rem; 
	  	margin: 0 3rem;
	}
	
	.enlace a {
		text-decoration: none;
		color: black;
	}

	
	.opacidad { 
		width: 100%; 
		padding: 100px 0 35px 0;
		 margin-bottom: 75px;
		
	}
	
	
	.container {
		
		position: relative;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 2rem;
		
	}
	
	.container-perfil {
		display: flex;
		flex-direction: column;
		gap: 20px; 
	}
	
	
	.container-perfil-datos p{
		font-weight: bold; 
	}
	
	.container-perfil-datos span{
		font-weight: normal;
	}
	.container-imagen-perfil{
		width: 100%;
		
		
	}
	
	.container-imagen-perfil img{
		width: 100%;
		height: auto; 
		border-radius: 10px; 
	}
	
	.container-habilidades {
		display: grid;
		grid-template-rows: repeat(2,1fr);
		gap: 2rem;
		
	}
	
	.container-habilidades select {
		margin-top: 20px; 
	}
	
	.container-perfil, .habilidad-ofertada, .habilidad-demandada {
		background-color: #fff;
	    padding: 40px;
	    border-radius: 10px;
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	
	.lista {
	  	display: flex;
		justify-content: space-between; 
		margin: 10px 0 40px 0;
		gap: 10px;	
 
	}
	
	.btn-x {
		background-color: white; 
		
	}
	
	.container-etiquetas {
		display: flex; 
		gap: 20px; 
	}
	.etiqueta {
		background-color: #FFB74D;
		padding: 5px 15px;
		padding-left: 15px;
		border-radius: 50px;
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	
	.etiqueta button{
		background-color: transparent;
		border: none;
		padding: 0;
		display: flex;
		align-items: center;
		transition: .5s;
	}
	
	.etiqueta button:hover{
		color: white;
	}
	
	.habilidadOfertada {
		background-color: lime;
		border-radius: 30%; 
		padding: 10px; 
	}