<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>proyectoAbilitySwap</display-name>
  <welcome-file-list>
    <welcome-file>inicio.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.usuario.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaNuevoUsuario</display-name>
    <servlet-name>AltaNuevoUsuario</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.usuario.AltaNuevoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaNuevoUsuario</servlet-name>
    <url-pattern>/AltaNuevoUsuario</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
			proyectoAbilitySwap.talento.controlador.EscuchaInicioFinApp</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ObtenerPerfilUsuario</display-name>
    <servlet-name>ObtenerPerfilUsuario</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.usuario.ObtenerPerfilUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPerfilUsuario</servlet-name>
    <url-pattern>/ObtenerPerfilUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerFoto</display-name>
    <servlet-name>ObtenerFoto</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.usuario.ObtenerFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerFoto</servlet-name>
    <url-pattern>/ObtenerFoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoCategoriasHabilidadesServlet</display-name>
    <servlet-name>ListadoCategoriasHabilidadesServlet</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.categoria.ListadoCategoriasHabilidadesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoCategoriasHabilidadesServlet</servlet-name>
    <url-pattern>/ListadoCategoriasHabilidadesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerUsuariosPorHabilidad</display-name>
    <servlet-name>ObtenerUsuariosPorHabilidad</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.ObtenerUsuariosPorHabilidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerUsuariosPorHabilidad</servlet-name>
    <url-pattern>/ObtenerUsuariosPorHabilidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BuscadorHabServlet</display-name>
    <servlet-name>BuscadorHabServlet</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.BuscadorHabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorHabServlet</servlet-name>
    <url-pattern>/BuscadorHabServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroInicio</display-name>
    <filter-name>FiltroInicio</filter-name>
    <filter-class>proyectoAbilitySwap.talento.controlador.filtro.FiltroInicio</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroInicio</filter-name>
    <url-pattern>/FiltroInicio</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroLoginPerformance</display-name>
    <filter-name>FiltroLoginPerformance</filter-name>
    <filter-class>proyectoAbilitySwap.talento.controlador.filtro.FiltroLoginPerformance</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLoginPerformance</filter-name>
    <url-pattern>/FiltroLoginPerformance</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CrearIntercambioControlador</display-name>
    <servlet-name>CrearIntercambioControlador</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.CrearIntercambioControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearIntercambioControlador</servlet-name>
    <url-pattern>/CrearIntercambioControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertarHabilidadesOfertadas</display-name>
    <servlet-name>InsertarHabilidadesOfertadas</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.InsertarHabilidadesOfertadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarHabilidadesOfertadas</servlet-name>
    <url-pattern>/InsertarHabilidadesOfertadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertarHabilidadesDemandadas</display-name>
    <servlet-name>InsertarHabilidadesDemandadas</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.InsertarHabilidadesDemandadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarHabilidadesDemandadas</servlet-name>
    <url-pattern>/InsertarHabilidadesDemandadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BorrarHabilidadesOfertadas</display-name>
    <servlet-name>BorrarHabilidadesOfertadas</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.BorrarHabilidadesOfertadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarHabilidadesOfertadas</servlet-name>
    <url-pattern>/BorrarHabilidadesOfertadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BorrarHabilidadesDemandadas</display-name>
    <servlet-name>BorrarHabilidadesDemandadas</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.BorrarHabilidadesDemandadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarHabilidadesDemandadas</servlet-name>
    <url-pattern>/BorrarHabilidadesDemandadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.usuario.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConsultarHabilidadDemandada</display-name>
    <servlet-name>ConsultarHabilidadDemandada</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.ConsultarHabilidadDemandada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarHabilidadDemandada</servlet-name>
    <url-pattern>/ConsultarHabilidadDemandada</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConsultarHabilidadOfertada</display-name>
    <servlet-name>ConsultarHabilidadOfertada</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.habilidades.ConsultarHabilidadOfertada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarHabilidadOfertada</servlet-name>
    <url-pattern>/ConsultarHabilidadOfertada</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroSesion</display-name>
    <filter-name>FiltroSesion</filter-name>
    <filter-class>proyectoAbilitySwap.talento.controlador.filtro.FiltroSesion</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroSesion</filter-name>
    <url-pattern>/FiltroSesion</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MensajeServlet</display-name>
    <servlet-name>MensajeServlet</servlet-name>
    <servlet-class>proyectoAbilitySwap.talento.controlador.mensajes.MensajeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MensajeServlet</servlet-name>
    <url-pattern>/MensajeServlet</url-pattern>
  </servlet-mapping>
</web-app>