<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>proyectoAbilitySwap</display-name>
	<welcome-file-list>
		<welcome-file>inicio.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AltaNuevoUsuario</display-name>
		<servlet-name>AltaNuevoUsuario</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.AltaNuevoUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AltaNuevoUsuario</servlet-name>
		<url-pattern>/AltaNuevoUsuario</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>
			proyectoAbilitySwap.talento.controlador.EscuchaInicioFinApp
		</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>ObtenerPerfilUsuario</display-name>
		<servlet-name>ObtenerPerfilUsuario</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.ObtenerPerfilUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerPerfilUsuario</servlet-name>
		<url-pattern>/ObtenerPerfilUsuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ObtenerFoto</display-name>
		<servlet-name>ObtenerFoto</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.ObtenerFoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerFoto</servlet-name>
		<url-pattern>/ObtenerFoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListadoCategoriasHabilidadesServlet</display-name>
		<servlet-name>ListadoCategoriasHabilidadesServlet</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.ListadoCategoriasHabilidadesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListadoCategoriasHabilidadesServlet</servlet-name>
		<url-pattern>/ListadoCategoriasHabilidadesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ObtenerUsuariosPorHabilidad</display-name>
		<servlet-name>ObtenerUsuariosPorHabilidad</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.ObtenerUsuariosPorHabilidad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerUsuariosPorHabilidad</servlet-name>
		<url-pattern>/ObtenerUsuariosPorHabilidad</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>BuscadorHabServlet</display-name>
		<servlet-name>BuscadorHabServlet</servlet-name>
		<servlet-class>proyectoAbilitySwap.talento.controlador.BuscadorHabServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuscadorHabServlet</servlet-name>
		<url-pattern>/BuscadorHabServlet</url-pattern>
	</servlet-mapping>
</web-app>